/*
Theme Name: ax wp RESTful API
Description: Beans child theme for the bees test project
Author: Agon Xheladini
Author URI: http://www.agonxheladini.com
Template: tm-beans
Version: 1.0.0
Text Domain: beans
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
#app .uk-article-title { text-align: center !important; font-size: 26px; line-height: 28px !important; margin-bottom: 6px !important;}
#app .uk-text-lead { text-align: center !important; margin-top: 6px !important;}
#client_reg_form .uk-grid .element_holder {text-align: center !important;}
#client_reg_form .uk-grid .element_holder .uk-input{width:95% !important;}
#client_reg_form .uk-grid .element_holder select{width:95% !important;}
#client_reg_form .uk-grid .element_holder legend{text-align: left !important; padding-bottom: 3px !important; padding-top: 10px !important; width: 95% !important; margin-left: 2.8%;}
#client_reg_form .terms_text { font-size: 12px; font-weight: 200; width: 95%; text-align: left; margin-top: 7px; margin-bottom: 4px !important; margin-left: 2.7%;}
#client_reg_form .uk-button-secondary { width: 95% !important; color:#fff !important; padding-top: 4px !important; padding-bottom: 4px !important; background: #23aaaa; text-transform: uppercase;}
#client_reg_form .uk-button-secondary { width: 95% !important; color:#fff !important; padding-top: 4px !important; padding-bottom: 4px !important; text-transform: uppercase;}
#client_reg_form .uk-button-secondary:hover {background: #e2e1e1; color: #000000 !important;}
.custom-header {width: 100% !important; padding-top: 30px; padding-bottom: 30px; text-align: center;}
.custom-header .logo { font-size: 22px; font-weight: 400;}
.loader{display: none;}
.result_holder {text-align: center !important; padding-top: 20px;}
.respond_danger {display: none;} 
.respond_success {display: none;}
.uk-navbar { text-align: center !important; }
.uk-navbar-nav {float: none !important; display: block;}
.clients_holder{padding-top: 15px; padding-bottom: 15px;}
.clients_holder .client{ border-bottom: 1px  solid #d8d7d5 !important; padding-top: 15px; padding-bottom: 15px; margin-top: 0px !important;}
.clients_holder .field_desc {color: #7a7a7a !important; border-right: 1px solid #d8d7d5 !important; line-height: 20px !important; margin-bottom: 4px; margin-top: 4px; border-bottom: 1px solid #f0f0f0;}
.clients_holder .field_value { color: #000000 !important; line-height: 20px !important; margin-bottom: 4px; border-bottom: 1px solid #f0f0f0; margin-top: 4px;}
.main-menu { width: 100% !important; margin-bottom: 0px; margin-top: 0px; text-align: center; position: relative; overflow: auto; }
.main-menu .uk-navbar-nav {overflow: auto; position: relative; height: auto; text-align: center;}
.main-menu .uk-navbar-nav li { width: auto; display: inline-block; background: #e2e1e1;}
.main-menu .uk-navbar-nav li > .router-link-active { background: #23aaaa !important; color:#ffffff;}
.main-menu .uk-navbar-nav li > .router-link-active:hover { background: #f9e17d !important; }
.main-menu .uk-navbar-nav li:nth-child(2) { margin-left: 7px !important; }
.contact_error, .valid_email_error, .education_error, .dob_error, .nation_error, .address_error, .email_error, .phone_error, .gender_error, .name_error 
{color: red; font-size: 12px; display: none; width: 100%; text-align: left; margin-left: 2.7%; margin-top: 0px; margin-bottom: 0px; padding-bottom: 0px;}

/* Mobile view */
@media (max-width: 768px)
{
	#client_reg_form .uk-grid .element_holder{ width: 100% !important;}
    .uk-navbar-nav > li { float: none !important; margin-bottom: 15px !important;}
}
